---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
// No importamos Announcement para que no haya línea superior
import { headerData, footerData } from '~/navigation';

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  {/* SIN Announcement aquí */}
  
  <slot name="header">
    <Header 
      links={headerData.links} 
      actions={headerData.actions} 
      isSticky 
      showToggleTheme 
    />
  </slot>

  <main>
    <slot />
  </main>

  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>